.cursor {
    position: absolute;
  height: 1em;
  /* left: calc(0.54em * 46); */
  width: 0.05em;
  background-color: lightpink;
  animation: blink 1.3s  infinite;
  transition: left 0.09s ease;
}

@keyframes blink {
  50% {
    opacity: .1;
  }
}
