.cursor {
    position: absolute;
  height: 1em;
  font-size: 2rem;
  /* left: calc(0.54em * 46); */
  width: 2px;
  background-color: var(--highlight-color);
  animation: blink 1.3s  infinite;
  transform: translateX(0);
  transition: transform 0.09s ease;
}

@keyframes blink {
  50% {
    opacity: .1;
  }
}
