footer {
  width: 100%;

  /* margin-top: auto; */
}
.info {
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
  font-size: 1.2em;
}
.info div{
  display: flex;
  align-items: center;
  gap: 5px;
}
.info a{
  text-decoration: none;
  color: var(--secondary-text-color);

  &:hover{
    cursor: pointer;
    color: var(--highlight-color);
  }
}
