.score-wrap {
  font-size: 1.5rem;
  font-weight: bold;
  width: min(700px,100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.score-modal{
  flex-shrink: 0;
  width: 100%;
  /* background-color: cadetblue; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
}
.score-stat{
  border-radius: 5px;
  padding-inline: 1rem;
  padding-block: 2rem;
  /* margin: 20px; */
  /* min-width: 100px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--highlight-color);
  /* background-color: blueviolet; */
  display: flex;
}
.stat-wrap{
  display: flex;
  flex-direction: column;
  width: 70%;
  
  & div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & span:first-of-type{
      color: var(--secondary-text-color);
      font-size: 1rem;
    }
  }
}
