.menu-container {
  user-select: none;
  position: relative;
}
.menu-trigger {
    font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
.dropdown-item{
    cursor: pointer;
    &:hover{
      color: var(--highlight-color);
    }
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: end;
    position: absolute; /* Asegúrate de que tenga position: absolute o relative */
    top: 100%;
    right: 0px;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 10px 20px;
    width: auto;
    border: 1px solid var(--highlight-color);
    z-index: 100; /*  .dropdown-menu con z-index, aunque podría ser 'auto' también en este caso */
}

/* .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    background: lightcoral;
    transform: rotate(45deg);
    border: 1px solid red;
    z-index: -100; 
} */