html{
  font-size: 16px;
}
body {
  font-family: Menlo, monospace;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: min(1200px,100vw);
  margin: 0 auto; /* Centrado horizontal */
  padding: 0 15px;
  /* padding-inline: min(2rem,3%); */
}


.paragraph {
  /* filter: blur(3px); */
  font-size: 2rem;
  /* font-size: 2em; */
  user-select: none;
  height: 128px;
  overflow: hidden;
}
.words-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap:  1rem 1rem;
  line-height: 2rem;
  font-weight: lighter;
}
.word{
  position: relative;
  color: var(--secondary-text-color);
  display: flex;
  &.active{
    color: var(--text-color);
  }
  
}
.letter{
  &.correct{
    color: var(--success-color);
  }
  &.incorrect{
    color: var(--error-color);
  }
}
/* REVISAR ESTA PROPIEDAD Y DONDE SE USA (CREO QUE NO SE ESTÃ USANDO */
/* .word.active {
  border-bottom: 2px solid rgba(113, 113, 126, 0.209);
  animation: word-blink 1.5s  infinite;
}
@keyframes word-blink {
  0%, 100% { opacity: 1; }
  50% { opacity: .6; }
} */

.stadistics{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2.rem;
  gap: 20px;
}

.words-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: min(3rem,5%);
}
.score-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.blurry-paragraph{
  filter: blur(4px);
}
.word-input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  /* margin-top: auto; */
  margin-bottom: 15vh;
}

.reset-button{
  margin: 1rem;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  /* color: var(--text-color); */
  transition: scale .5s ease;
  &:hover{
    cursor: pointer;
    scale: 1.2;
  }
}

.option-display{
  width: 100%;
  display: flex;
  align-items: start;
  font-size: 2rem;
  justify-content: center;
  & > div{
    display: flex;
    align-items: center;
  }
}
.option-hidden{
  visibility: hidden;
  position: fixed;
}

.option-section{
 width: 100%;
}


.hidden{
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}