#root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  max-width: 1200px;
  margin: 0 auto; /* Centrado horizontal */
  padding: 0 15px;
}
body {
  font-family: Menlo, monospace;
  padding-inline: min(2rem,3%);
}

.paragraph {
  /* filter: blur(3px); */
  font-size: 1em;
  line-height: 1em;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  gap:  0.5em 0.5em;
  font-size: 32px;
  user-select: none;
}
.word{
  position: relative;
  color: gray;
  display: flex;
  &.active{
    color: lightgray;
  }
  
}
.letter{
  &.correct{
    color: lightskyblue;
  }
  &.incorrect{
    color: indianred;
  }
}

.letter.active {
  border-bottom: 2px solid rgba(113, 113, 126, 0.209); /* Ejemplo visual */
  animation: blink 1.5s  infinite;
}
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.stadistics{
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2.rem;
  gap: 20px;
}

.words-container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: min(3rem,5%);
}
.score-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.blurry-paragraph{
  filter: blur(4px);
}
.word-input{
  opacity: 0;
  position: absolute;
  z-index: -1;
}

main{
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  align-items: center;
  width: 100%;
  flex-grow: 1;
  /* margin-top: auto; */

}

.reset-button{
  margin: 1rem;
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: lightgray;
  transition: scale .5s ease;
  &:hover{
    cursor: pointer;
    scale: 1.2;
  }
}

.option-display{
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-around;
  & > div{
    display: flex;
    align-items: center;
  }
}